/* Global Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  // @include respond(phone) {     // it doesn't importnt cause the next media is also the same so it will applu on all >900px
  //   font-size: 50%;
  // }

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem =9px 9/16
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem =10px 1rem=8px 8/16
  }

  @include respond(big-disktop) {
    font-size: 75%; //1rem = 12 12/16
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-gray-dark;
  padding: 3rem;
  box-sizing: border-box;
}
/* Global Reset */
